* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



html,body{
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

#main {
    background-image: linear-gradient(to right, rgb(92, 145, 229), rgb(153, 63, 98));
    height: 100vh;
    width: 100vw;

}

.sub-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-1{
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
   margin-top: 20%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
    

#btn-2{
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
   margin-top: 20%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}